body {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  height: 100vh;
}

.card-container {
  background-color: rgb(164, 124, 202);
  width: 1000px;
  padding: 20px;
}

.alert {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.outCard {
  display: inline-block;
}

.card {
  width: 275px;
  height: 150px;
  background-color: #032231;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  margin: 20px;
  color: #fff;
}

.card img {
  height: 100px;
  width: 100px;
}

.card-date {
  text-align: center;
}

.date {
  margin: 5px;
}

.card-month {
  font-size: 22px;
}

.card-year {
  font-size: 16px;
}

.card-day {
  font-size: 20px;
}
