body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    height: 800px;
}

.card {
    width: 275px;
    height: 150px;
    background-color: #8DCBE6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    margin: 20px;
}

.card img {
    height: 100px;
    width: 100px;
}

.card-date {
    text-align: center;
}

.date {
    margin: 5px;
}

.card-month {
    font-size: 22px;
}

.card-year {
    font-size: 16px;
}

.card-day {
    font-size: 20px;
}